<h1>Add an actor or actress<h1>

<form action="/success"  method="post">
  <div container="form-control">
    <label for="name">Enter the name of the actor or actress here</label>
    <input id="name" name="name" class="form-control" type="text">
  </div>

  <div container="form-control">
    <button="submit" button type="btn-success">Submit</button>
  </div>

</form>
