<h1>Welcome to our actors and movies database.</h1>

<h3>Here are the movies in our database:</h3>

<h3>Here are the actors in our database:</h3>

<a href="/actors">Add new actors to the database.</a>
<a href="/movies">Add new movies to the database.</a>
