<!DOCTYPE html>
<html>
  <head>
    <title>"Actors and Movies Database"</title>
    <link rel="stylesheet" 
  </head>
  <body>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
