<h1>Add a movie</h1>

<form action="/success" method="post">
  <div class="form-group">
    <label for ="add_movie">Enter the name of your movie:</label>
    <input id="add_movie" name="add_movie" class="form-control" type="text">
  </div>
  <button type="submit" class="btn-success">Add</button>
</form>
